name: breathing_app
description: "Breathe easy. Inhale. Exhale. Repeat."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.8

dependencies:
  flutter:
    sdk: flutter
  lottie: ^3.3.2
  flutter_bloc: ^9.1.1
  equatable: ^2.0.8
  audioplayers: ^6.5.1

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/animations/
    - assets/sounds/
  fonts:
    - family: Quicksand
      fonts:
        - asset: assets/fonts/Quicksand-Regular.ttf
        - asset: assets/fonts/Quicksand-Bold.ttf
          weight: 700